{% extends "base.html" %}

{% block content %}
    <h1>Blog Posts</h1>

    {% if blogs|length == 0 %}
    <p>No posts yet!</p>
    {% else %}
                <ul>
                    {% for blog in blogs %}
                        <a href=/blog?id={{blog.id}}><h3>{{blog.title}}</h3></a>
                        <li>{{blog.body}}</li>
                        <ul>
                            {% for user in users %}
                                <li>
                                    <p class="post-author"><a href="/blog?username={{user.id}}">{{user.username}}</a></p>
                                    
                                </li>
                            {% endfor %}
                        </ul>
                        <hr/>
                    {% endfor %}
              
                </ul>
            
                    

                       
                
               
    {% endif %}
{% endblock %}


        