{% extends "base.html" %}

{% block content %}
    <h1>Create a New Post!</h1>
    <form method='post'>
        <label>
            Title:
            <input type="text" name="title" />
        </label>
        <span class="error">{{title_error}}</span>
        <br />
        <br />
        <label>
            Content:
            <br/><textarea cols="70" rows="15" type="text" name="body" value="body"></textarea><br/><p class="error" {{body_error}}></p>
            <span class="error">{{body_error}}</span>
        </label>    
        <br />
        <br />
        <label><input name="submit" type="submit" value="Add Entry" />
        </label>
    </form>

{% endblock %}